# === Node dependencies ===
client/node_modules/
server/node_modules/

# === Environment variables ===
server/.env

# === Build and cache ===
dist/
build/
coverage/

# === Cypress output ===
client/cypress/screenshots/
client/cypress/videos/

# === Logs ===
*.log
npm-debug.log*
yarn-error.log*

# === System / editor files ===
.DS_Store
Thumbs.db
.vscode/
.idea/


*.tmp
*.bak
*.orig
*.rej


client/package-lock.json
server/package-lock.json
